body {
  background: url(../jr.png) no-repeat center center fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}
.main {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.connect-logo {
  width: 280px;
  height: auto;
}
.store-icons {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.store {
  width: 180px;
  height: auto;
  cursor: pointer;
}
p {
  text-align: center;
  font-size: 18px;
}

p#title, p#titleReset {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 5%;
  letter-spacing: 1px;
  padding-top: 2%;
}
.instructions {
  width: 300px;
  height: 48px;
  background-color: #0091fb;
  border-radius: 10px;
  border: white;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.admin-login {
  width: 300px;
  height: 48px;
  border-radius: 10px;
  background-color: #f4fbff;
  border: black solid 0.5px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

input {
  width: 400px;
  height: 32px;
  font-size: 14px;
  padding: 1%;
  border: solid 1px #000000;
  border-radius: 5px;
  outline: none;
}

.signup-btn {
  width: 300px;
  height: 48px;
  background-color: #0091fb;
  border-radius: 10px;
  border: white;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.signup-btn:hover {
  cursor: pointer;
}

/* Password */
.fa,
.far,
.fas {
  display: inline-flex;
}
i {
  position: fixed;
  align-items: center;
  margin-left: -25px;
  margin-top: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 10%;
  }
  .connect-logo {
    width: 80%;
  }
  button .instructions {
    align-items: center;
  }
  .store-icons {
    flex-direction: column;
    margin-top: 10%;
    padding-top: 5%;
  }
  .store {
    width: 70%;
  }
  #play {
    margin-top: -35%;
  }
}
