.members-list {
  height: 100vh;
  background-color: #f4fbff;
  padding-left: 5%;
  width: 82%;
  float: right;
}
#members {
  display: flex;
  align-items: left;
  min-height: 78vh;
  max-height: 80vh;
  max-width: 100vw;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
}
.team {
  padding: 0.5em 0.25em;
  margin: 0;
  max-height: 100%;
  min-width: 160px;
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  justify-content: flex-start;
}
.member-card {
  margin: 0.25em 0;
  padding: 0.25em 0.5em 0.25em 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.member-name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  align-items: left;
}
.member-details {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  align-items: left;
}
.team h2 {
  font-size: 20px;
  letter-spacing: normal;
  align-items: left;
  text-align: left;
  position: relative;
  display: inline-block;
}

.team h2:before {
  position: absolute;
  height: 1.5px;
  width: 55%;
  left: 0;
  bottom: 0;
  background: #000000;
  display: block;
  content: "";
}

.member-card {
  position: relative;
  display: inline-block;
}

.member-card .tooltiptext {
  font-size: 14px;
  visibility: hidden;
  min-width: 125px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4%;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 40%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.member-card:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
}
