* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  box-sizing: border-box;
  font-family: "sf_pro_displayregular";
}
body {
  height: 100vh;
  overflow-y: hidden;
}
h2 {
  font-size: 40px;
  margin-top: 26px;
  font-weight: bolder;
  padding-bottom: 2%;
  letter-spacing: 2.5px;
}
h4 {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 1px;
}
.right,
.middle {
  width: 41%;
  height: 100vh;
}
.middle {
  float: left;
  padding-left: 5%;
  background-color: #f4fbff;
}
.right {
  float: left;
  background-color: #f4fbff;
}
.left {
  float: left;
  width: 18%;
  background-color: white;
  height: 100vh;
}
img.logo {
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  width: 70%;
  height: auto;
}
li {
  padding-left: 15%;
  padding-bottom: 5%;
  padding-top: 5%;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: bolder;
}
li a {
  font-weight: 550;
}
a {
  color: black;
  text-decoration: none;
}
.icon {
  height: 18px;
  width: 18px;
}

.add-teams-text {
  margin-top: 1%;
  text-align: center;
}
.teams {
  margin-top: -5%;
}

.post-meeting-btn {
  width: 240px;
  height: 40px;
  background-color: #0091fb;
  border-radius: 10px;
  border: white;
  color: white;
  font-size: 18px;
  margin-top: 3%;
  margin-left: 20%;
}

.meeting-radio {
  padding-left: 10%;
  padding-top: 5%;
  font-weight: 300;
}
li.inner {
  padding: 2%;
}
/* li.inner input[type="radio"]:checked {
  margin-right: 3%;
  background-color: #000000;
} */

input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="email"],
#link,
#date,
select {
  width: 305px;
  height: 32px;
  font-size: 14px;
  padding: 1%;
  border: solid 1px #000000;
  border-radius: 5px;
  outline: none;
}

/* Logout button */
.out {
  margin-top: 50%;
  text-align: center;
  align-items: center;
  align-content: center;
  vertical-align: baseline;
}

button.logout {
  background: #fff0f0;
  border: 0.5px solid #ff0000;
  box-sizing: border-box;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  text-align: center;
  color: #ff0000;
  font-weight: 800;
  outline: none;
  cursor: pointer;
}

.out1 {
  margin-top: 150%;
  text-align: center;
  align-items: center;
  align-content: center;
  vertical-align: baseline;
}

button.privacy {
  background-color: #ffffff;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  width: 150px;
  height: auto;
  text-align: center;
  font-weight: 800;
  outline: none;
  cursor: pointer;
  padding: 2%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f6ff;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(230, 227, 227);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(210, 207, 207);
}

/* .left {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
} */

/* .left a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
} */

/* .left a.active {
  background-color: #04AA6D;
  color: white;
} */

/* .left a:hover:not(.active) {
  background-color: #555;
  color: white;
} */

@media screen and (max-width: 700px) {
  body {
    padding: 2% !important;
  }
  .left {
    width: 100%;
    height: auto;
    position: relative;
    display: inline;
  }
  .left a {
    float: left;
  }

  .out1 {
    display: none;
  }
  img.logo {
    width: 90%;
    margin: 2%;
  }
  .right {
    display: none;
  }
  .middle {
    width: 100%;
  }
  li {
    display: inline;
    float: right;
    padding-right: 10%;
  }

  .logonav {
    width: 50%;
    margin: 0%;
    float: left;
  }
}
