.middle {
  width: 32%;
}
h3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 1em;
}
.fetchedMeetings {
  padding-top: 1.5em;
  border-right: 1px solid lightgray;
  max-height: 85%;
  overflow-y: scroll;
  padding-bottom: 1.5em;
}
.right {
  overflow-y: scroll;
}

.right {
  padding-top: 10%;
  text-align: left;
  width: 50%;
  height: 100vh;
}
.available {
  float: left;
  width: 50%;
  height: 100vh;
  padding-left: 5%;
}
.unavailable {
  float: right;
  width: 50%;
  align-items: left;
  text-align: left;
  height: 100vh;
  padding-left: 5%;
}
.meeting {
  padding: 15px;
  cursor: pointer;
}
.meeting:hover {
  background-color: #ecf5fc;
}
.active {
  background-color: cornflowerblue;
}
.meeting p {
  cursor: pointer;
}
p.bold {
  font-weight: bold;
  letter-spacing: 1.4px;
}
a.post {
  padding-left: 26%;
  font-weight: normal;
  font-size: 12px;
  color: #0091fb;
}
.user h4 {
  font-weight: bold;
}
.changestatus-btn {
  border: black 0.5px solid;
  border-radius: 5px;
  width: fit-content;
  padding: 1%;
  margin: 1%;
  margin-bottom: 5%;
  cursor: pointer;
}

p.title {
  font-size: 22px;
  font-weight: bold;
  padding-left: 5%;
  margin-bottom: 1em;
}
